= link_to "Retour aux rapports:", admin_dossier_reports_url(@dossier)

h2 Date
p = @report.created_at

h2 Nom
p = @report.name

h2 Email
p = @report.email

h2 Message
p = @report.body

h2 Question reporté
p = @report.answer.question.widget_text(locale)
