/* Variables */

$color-beige: rgb(254, 254, 242);
$color-blue: #2573a9;
$color-green: #5a9046;

$font-family-sans-serif: "Open sans", sans-serif;

$navbar-height: 120px;

$link-color: $color-green;
$btn-success-bg: $color-green;
$btn-primary-bg: $color-blue;
$pagination-active-bg: $color-blue;

/* Styles */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import "bootstrap";
@import "colors";
@import "navbar";
@import "footer";
@import "main";
@import "panels";
@import "questions";
@import "pagination";

/*@import "authentication";
@import "header";
@import "welcome";
@import "section_links";
*/

@import "s3_direct_upload_progress_bars";

@import "payment";
