#footer {
  background: $colorBeige; margin-bottom: 15px; padding: 15px; border-radius: $border-radius-small;
  text-align: center;
  h3 { margin-top: 0; font-size: $font-size-large; }
  p { margin: 0; }
}