#content { padding: 40px 0 80px; background: url(asset-path('body_bg.png')) repeat top center; }

.jumbotron {
  background-color: transparent;
  .introduction {
    margin-top: 40px;
    p { font-size: $font-size-large; }
  }
}

a {
  text-decoration: underline;
  &:hover { text-decoration: none; }
}
.btn { text-decoration: none; }
