$navbar-accent-color: #e6e3c9;

.navbar {
  margin-bottom: 0; border-bottom: 4px solid $navbar-accent-color;
  background-color: $colorBeige;
  > .container .navbar-brand {
    padding: 20px 15px;
    img { height: 80px; }
  }
}

.navbar-default {
  .container {
    position: relative;
    .navbar-nav {
      &.navbar-utilities {
        > li {
          a { color: #2573a9; line-height: 1.4; padding: 10px 0; }
        } 
      }
      &.navbar-main {
        position: absolute; right: 15px; bottom: 10px;
        > li {
          margin: 0 0 0 10px;
          a {
            font-weight: bold; padding: 10px 15px; color: black; background: $navbar-accent-color;
            border-radius: $border-radius-base;
            &:hover, &:active, &:focus { background: white; color: $link-color; }
          }
          &.active { background: white; color: $link-color; }
        }
      }
    }
  }
}

.navbar-default .navbar-nav > .active {
  padding-top: 40px; padding-bottom: 40px;
  > a, a:hover, a:focus {
    color: white; background-color: $link-color; padding-top: 10px; padding-bottom: 10px; border-radius: $border-radius-base;
  }
}
