.question {
  &.need_answer {
    background-color: rgba(80,10,10,0.1);
  }
  .help {
    .help-togglers { margin-bottom: 10px; }
    .help-toggle-off, .help-content { display: none; }
  }
  form { margin: 0; }

  td {
    .spinner {
      margin: 10px;
      text-align: center;
      display: none;
    }

    .file_spinner {
      display: none;
    }
  }

  .proof_files {
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        img { margin-right: 10px; }
        font-size: 20px;
        line-height: 32px;
        a {
          margin-left: 10px;
        }
      }
    }
    margin-left: 55px;
  }
}

.submission {
  text-align: right;
}
