a.toggle_help:hover {
  text-decoration: none;
}

a.help_off {
  display: none;
}

div.toggle_help {
  display: none;
}

form label {
  margin: 10px 20px;
  span {
    font-size: 20px;
    margin-left: 10px;
  }
}
