ul.sections.subnav {
  text-align: center;
  li {
    list-style: none;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
  }

  li.active {
    @extend .btn-success;
  }

  li a {
    @extend .btn;
    min-width: 20px;
    display: inline-block;
  }
}
