
body#dossiers.widget_voting_system {
  background-color: $background-color;
}

@media all and (max-width: $width){
  #reservert_header, #concrete_actions, #reservert_content, #reservert_footer {
    width: 230px;
    padding: 0px 10px;
  }
}

@media all and (min-width: $width){ /* applied only if over 500px width */
  #reservert_header, #concrete_actions, #reservert_content, #reservert_footer, #help_section {
    width: 800px;
    margin: 30px auto;
    height: auto;
  }

  a#expand {
    display: none;
  }

  section.actions, #help_section {
    p {
      font-size: 1.8em;
      line-height: 1.8em;
      button {
        font-size: 10px;
      }
    }
  }
}

