#reservert_title {
  height: $title-height;
  width: $width;
  overflow: hidden;
  background-color: black;
  text-align: center;
  padding: 11px;
  cursor: pointer;

  h1 {
    margin: 0 0 5px !important;
    background: none !important;
    font-size: 2em !important;
    text-align: center !important;
    line-height: 13px !important;
    text-indent: 0px !important;
    width: auto !important;
    height: auto !important;
    top: 0px !important;
    left: 0px !important;
  }

  p {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin: 0;

    span {
      color: $highlight;
    }
  }
}

#dossiers.widget_voting_system {
  #reservert_title {
    height: auto;
    width: $width;
  }
}

#reservert_container {
  position: fixed;
  right: $right-position;
  width: $width;
  overflow: hidden;
  margin: 0px;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;

  &.initial {
    bottom: 0px;
    height: $closed-height;

    animation: nudge 1s;
    -webkit-animation: nudge 1s;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    .display_when_active { display: block; }
    .display_when_inactive { display: none; }
  }

  &.inactive {
    bottom: 0px;
    height: $closed-height;

    .display_when_active { display: block; }
    .display_when_inactive { display: none; }
  }

  &.active {
    bottom: 0px;
    height: $opened-height;
    width: $width;

    #reservert_title { /* hack */
      height: $closed-height - 20px;
    }

    .display_when_active { display: none; }
    .display_when_inactive { display: block; }
  }
}

@mixin nudging_animation {
  from {
    bottom: $closed-height * -1;
    height: $closed-height;
  }

  to {
    bottom: 0px;
    height: $closed-height;
  }
}

@-webkit-keyframes nudge { @include nudging_animation; }
@keyframes nudge { @include nudging_animation; }

#reservert_iframe {
  height: $opened-height - $title-height;
  width:  $width - 2px;
  border: none;
}

nav#reservert_header {
  height: $header-height;
  width: $width;
  padding: 10px;
  position: relative;

  span.utilities {
    float: right;
    position: absolute;
    right: 0px;
    top: 10px;
  }
}

#concrete_actions {
  height: $action-height;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 400;
}

#reservert_content {
  margin: 0 10px;
  padding: 0;
  height: $content-height;
}

#reservert_footer {
  height: $footer-height;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-weight: 18px;
  a {
    white-space: nowrap;
  }
}

body#dossiers {
  #help_section {
    display: none;
  }
}
