#reservert_container {
  position: fixed;
  right: $right-position;
  width: $width;
  margin: 0px;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;

  #reservert_title {
    height: $title-height;
    overflow: hidden;
    background-color: black;
    text-align: center;
    padding: 11px;
    cursor: pointer;

    h1 {
      margin: 0 0 5px;
    }

    p {
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      margin: 0;

      span {
        color: $highlight;
      }
    }
  }

  &.inactive {
    bottom: 0px;
    height: $closed-height;

    .display_when_active { display: block; }
    .display_when_inactive { display: none; }
  }

  &.active {
    bottom: 0px;
    height: $opened-height;
    width: $width;

    #reservert_title { /* hack */
      height: $closed-height - 20px;
    }

    .display_when_active { display: none; }
    .display_when_inactive { display: block; }
  }
}

#reservert_iframe {
  height: $header-height + $content-height + $footer-height;
  width:  $width - 2px;
  border: none;
}

nav#reservert_header {
  height: $header-height;
  padding: 10px;
  span.utilities {
    position: fixed;
    right: 10px;
    top: 10px;
  }
}

#concrete_actions {
  height: $action-height;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 400;
}

#reservert_content {
  background-color: #fffaef;
  border: 1px solid black;
  height: $content-height;

  .container {
    margin: 0;
    padding: 0;
  }
}

body#dossiers {
  #help_section {
    display: none;
  }
}
