$title-height: 64px;
$header-height: 30px;
$action-height: 30px;
$content-height: 220px;
$footer-height: 40px;

$closed-height: $title-height;
$opened-height: $title-height + $header-height + $action-height + $content-height + $footer-height;

$width: 250px;
$right-position: $width + 100px;
$background-color: #fffaee;
$highlight: #97bf0d;

@import "widget_standard";
@import "widget_fontello";

@import "widget_container";
@import "widget_voting_system";
@import "widget_reporting";
