<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de changer de mot de passe a été reçue.  Vous pouvez le faire avec le lien ci-dessous.</p>

<p><%= link_to t('authentication.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas fait cette demande vous pouvez simplement ignorer ce courriel.</p>
<p>Votre mot de passe ne changera pas à moins que vous clickez sur le lien ci-dessus.</p>
